p.extrinsic-sizing {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
}

p.intrinsic-sizing {
    /* be only as wide as the min width of its content */
    width: min-content; 
    height: min-content;
    padding: 20px;
    border: 1px solid;
}

p.overflow {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
    /* overflow sets the behaviour of content overflowing from its container */
    overflow: auto; /* auto - scroll */
}

body {
    background-color:beige
}

/* properties such as outline and box-shadow occupy the margin area or could even overlap, 
this properties don't affect the size of the box */
p.margin {
    background-color: aqua;
    outline: green solid 100px;
    box-sizing: border-box;
    border: 10px solid red;
    padding: 10px;
    margin: 100px;
}
