@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
    padding: 3rem;
    background-color: aqua;
    width: 100%;
    height: 100%;
    font-family: 'Neucha', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    border: solid red;
}
